@media screen and (max-width: 600px) {
    
    #container{
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 4rem 0;
        gap: 1rem;
    }

    #text-container{
        width: 100%;
    }

    #form-container{
        width: 95%;
    }
}